# # # # # # # # # # # # # # # # # # # # # # # #
#         CustomSprays by LSDog
#  THE ONE WANNA BE COOL, COOLER, COOLEST!!!
# # # # # # # # # # # # # # # # # # # # # # # #
#
#  CustomSprays.spray:     default: 允许喷漆 | Allow spraying (/spray)
#
#  CustomSprays.bigspray:  default: 允许3*3大喷漆 | Allow 3*3 big spray (/spray big)
#
#  CustomSprays.copy:      default: 允许复制他人图像 | Allow copying other player's spray (/sprays copy)
#
#  CustomSprays.view:      op: 允许查看其他玩家的图像 | Can get a image(map) view from any player (/sprays view <player>)
#
#  CustomSprays.check:     op: 允许检测喷漆者 | Allow detection of sprayers from a spray (/sprays check)
#
#  CustomSprays.delete:    op: 允许删除单个喷漆 | Allow to delete a spray (/sprays delete)
#
#  CustomSprays.getitem:   op: 允许获取一个喷漆物品 | Allow to get a spray item (/sprays getitem)
#
#  CustomSprays.nocd:      op: 没有上传和喷涂的冷却 | No cooling for spraying and uploading
#
#  CustomSprays.nodisable: op: 允许在 配置 [disabled_world], [disabled_region] 的地方喷漆 | Allow spraying at world or region that in the config [disabled_world], [disabled_region]
#
#  CustomSprays.nomoney:   op: 不花钱就能喷漆 | No money cost for spraying
#
# # # # # # # # # # # # # # # # # # # # # # # #


# # # # # # 教程: 设置默认图案 # # # # # #
# # # Tutorial: Set default image # # # #
#
# |游戏内 yml存储方式[storage: YML] 上传图片后复制 <\plugins\CustomSprays\playerData\{你的uuid}.yml> image项的内容(不要包括 "image: " !!) ,
#    创建 <\plugins\CustomSprays\default.yml> 并粘贴到其中, "/sprays reload" 即可设置默认图像
#    若玩家没有上传图像则喷这个, default.yml不存在时不启用
#
# |Upload image by using yml-storage[storage: YML] and go copy content in "image: " from <\plugins\CustomSprays\playerData\{your uuid}.yml> (but don't contains "image: " !!) ,
#    then create file <\plugins\CustomSprays\default.yml> and paste there, using "/sprays reload" to load the default image
#    Player will spray this if he/she haven't upload image. If there's no default.yml then 'default image' will be disabled
#
# # # # # # # # # # # # # # #


############ BASIC CONFIG #############
############ 基础的配置呦~ ##############

storage: YML
# 支持|Support: YML, MYSQL
# 默认|Default: YML

MySQL:
  # |注意: 插件将会创建的表名为 "sprays"
  # |Mention: Plugin will create table "sprays"
  host: '127.0.0.1'
  port: '3306'
  database: 'minecraft'
  user: 'root'
  password: 'password'

debug: true
# |Debug (会输出上传的图片链接和文件大小和玩家喷漆)
# |Debug (Out put image link and file size and log player's spraying)
# 默认|Default: true

msg_prefix: "&3&lCustomSprays >>&r "
# |插件发送消息的前缀
# |Message prefix by plugin
# 默认|Default: "&3&lCustomSprays >>&r "

check_update: true
# |检查最新版本后发送给op
# |Check the newest version then tell op


############ NUMBER CONFIGS ##############
############ 数字有关的配置 ##############

big_size: 3
# |大喷漆的大小 (格), 允许 3 或 5
# |Big spray size (Block), allow 3 or 5
# 默认|Default: 3

big_mode: 1
# 大喷漆模式: 允许 0,1,2
# 0: 无视周围墙体, 即使喷漆会悬空
# 1: 只会喷到平面内
# 2: 遮挡时会喷到附近的表面
# Big spray mode: Allows 0,1,2
# 0: Ignore surrounding walls, even if the spray will be floating
# 1: Only spray on the flat surface
# 2: Sprays onto nearby surfaces when there's a block
# 默认|Default: 1

distance: 4.5
# |玩家喷漆到方块的最大距离 (格)
# |Biggest distance from player to block (Block)
# 默认|Default: 4.5

destroy: 40
# |玩家喷漆自动消失时间 (秒)
# |Spray self remove time (Second)
# 默认|Default: 40

spray_cooldown: 30
# |玩家喷漆的时间间隔 (秒)
# |Cool down between player spray (Second)
# 默认|Default: 30

big_spray_cooldown_multiple: 1.5
# big_spray_cooldown == spray_cooldown * big_spray_cooldown_multiple
# |玩家使用大喷漆的时间间隔倍数 (倍数)
# |Multiple of cool down between player use big spray (Multiple number)
# 默认|Default: 1.5


upload_cooldown: 60
# |玩家上传图片的时间间隔 (秒)
# |Cool down between player upload a new image (Second)
# 默认|Default: 60

upload_failed_cooldown_multiple: 0.2
# upload_failed_cooldown == upload_cooldown * upload_failed_cooldown_multiple
# |玩家上传图片失败的时间间隔倍数 (倍数)
# |Multiple of cool down when player failed upload an image (Multiple number)
# 默认|Default: 0.2

copy_cooldown_multiple: 0.3
# copy_cooldown == upload_cooldown * copy_cooldown_multiple
# |玩家复制另一个玩家图片的时间间隔倍数 (倍数)
# |Multiple of cool down when player copy an image from a player (Multiple number)
# 默认|Default: 0.3


file_size_limit: 1024
# |玩家提供的链接图片大小限制 (kb), 图片会被保存到 384*384px 大小以节省空间
# |Max size of the image from link (kb), the image are saved to 384*384px to save space
# 默认|Default: 1024

download_limit: 3
# |同时下载的数量限制
# |Max downloads at the same time
# 默认|Default: 3


spray_cost: 0
# |喷小喷漆所要花的钱 (仅支持 Vault), 设为 0 禁用
# |The money cost for spraying (only support Vault), set to 0 to disable
# 默认|Default: 0

spray_big_cost: 0
# |喷大喷漆所要花的钱 (仅支持 Vault), 设为 0 禁用
# |The money cost for big-spraying (only support Vault), set to 0 to disable
# 默认|Default: 0



############ BOOLEAN CONFIGS ##############
############ 填"是否" 的配置 ##############

F_spray: true
# |启用 双击"F"喷漆, 仅在1.9+有效
# |Enable double click "F" to spray, only support version 1.9+
# 默认|Default: true

spray_on_ground: true
# |允许在方块上下面喷涂, 仅在1.13+有效
# |Allow spray on the upper and lower surfaces of the block, only support version 1.13+
# 默认|Default: true

better_color: true
# |让颜色更准确, 首次启动时需要耗费时间计算颜色表
# |Makes colors more accurate, needs time to calculate color palette on first startup
# 默认|Default: true


# 如果你想禁用大喷漆, 请设置权限 "CustomSprays.bigspray" 为 false
# If you want to disable bigspray, please set permission "CustomSprays.bigspray" to false


############ STRING CONFIGS ##############
############ 字符有关的配置 ##############

url_regex: "^https?://.*"
# |url地址匹配的正则表达式    如果不匹配则会发送信息 {配置: Messages.NOT_URL}
# |The regex of url checking    Send message if not matches {Config: Messages.NOT_URL}
# 默认|Default: "^https?://.*"

spray_item: "GOLDEN_HORSE_ARMOR"
# |默认的右键喷漆物品
# |Default item that can spray with right click
# 默认|Default: "GOLD_BARDING"(←1.12)  (1.13→)"GOLDEN_HORSE_ARMOR"
# 提示|Tip: 物品名列表，注意区分版本。 | Item name list, note the difference between versions.
# (1.13→): https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/browse/src/main/java/org/bukkit/Material.java
# (←1.12): https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/browse/src/main/java/org/bukkit/Material.java?until=7eb6b52fb21699805eab4b074599030861227e64&untilPath=src%2Fmain%2Fjava%2Forg%2Fbukkit%2FMaterial.java

spray_item_lore: "&e&lRight Click To Spray!"
# |喷漆物品需要包含的一行lore, 也可以删掉这项来忽略lore
# |A line of lore that needs to be included in the spray item, you can also delete this to ignore
# 默认|Default: "&e&lRight Click To Spray!"

spray_sound: "default"
# 喷漆音效 | Spray sound
# |自定义格式: "minecraft:entity.silverfish.hurt-1-0.8" << 1 和 0.8分别指音量和音调
# |Custom format: "minecraft:entity.silverfish.hurt-1-0.8" << 1 and 0.8 means volume and pitch
# 默认|Default: "default"

disabled_world: ["示例_世界名", "EXAMPLE_WORLD_NAME"]
# |禁用的世界名称列表，列表中的世界无法喷漆
# |List of disabled worlds where prohibits spraying

disabled_region: ["示例_区域/领地名", "EXAMPLE_REGION_NAME"]
# |禁用的区域名称列表，列表中的区域无法喷漆，可以判断父级领地
# |List of disabled regions where prohibits spraying, also able to check parent region
# 可用的插件 | Available plugins:
#   * Residence - 5.0.1.3
#   * WorldGuard - 6.2.2 & 7.0.6
#   * GriefDefender - 2.1.4



############ MESSAGE CONFIG #############
############ 消息有关的配置 #############

# ⚠ |English messages please scroll down to see|
# ⚠ |English messages please scroll down to see|

# |所有信息支持 PlaceholderAPI
# |All messages support PlaceholderAPI

# |已支持 & 作为颜色代码
# |Color code "&" supported

Messages:

  UNKNOWN_COMMAND: "未知指令，使用 &3/sprays&r 查看帮助!"
  NO_PERMISSION: "&c无权限！"
  IN_COOLING: "&c冷却中!"

  SPRAY:
    TOO_MANY_ARGUMENTS: "此为喷漆指令 查看帮助请使用 &b/sprays&r 哦！"
    NO_IMAGE: "笨蛋！ 你还没有上传图片呢！！！"
    NO_IMAGE_TIP: "使用 &b/sprays&r &3upload&l <url>&r 来上传图片！"
    DISABLED_WORLD: "&7这里... 不可以的哟...❤ (此世界被禁用)"
    DISABLED_REGION: "&7这.. 这里不可以呀啊！！ (此区域被禁用)"
    NO_MONEY: "喂！傻瓜，你根本没带够钱来喷漆！！ 这需要 %cost% 元！"
    COST: "- %cost%￥ &7(喷漆)"

  COMMAND_HELP:
    UPLOAD: "上传图片链接 (尺寸&c建议为384*384px&r)"
    COPY: "复制某玩家的图片"
    VIEW: "查看某玩家的自定义喷漆"
    CHECK: "检查喷漆者"
    DELETE: "删除指向的喷漆"
    RELOAD: "重载插件"
    GETITEM: "获取一个喷漆物品"
    TIP: "\n&7TIP: &7&l\"在线图床 和 在线修改图片 很有用哦~\"\n  &7&l使用 &e&l/spray &b&l(big)&7 或在 &e&l1.9+版本&b&l(蹲下)&e&l双击F &7来&e&l喷漆&b&l(大)&7！ "

  COMMAND_UPLOAD:
    IN_BUSY: "服务器正忙，请稍后再传......"
    NO_URL: "你忘了写图片的地址了！ 笨蛋！！"
    NOT_URL: "你给的URL完全无效啊！ 笨蛋！！！！"
    CONNECT_FAILED: "url连接失败了！"
    CONNECT_HTTPS_FAILED: "如果你提供的是&e&l https&r 那么可以改成&e&l http&r 链接尝试！"
    FILE_TOO_BIG: "你提供的文件太大了！ 有足足{size}K！ &7(最大可以上传 &f&l{limit}k&r&7 的图片！)"
    CANT_GET_SIZE: "我们无法获取文件的大小！\n          请换一个以图片后缀&7(.png/.jpg/.jpeg)&r结尾的url试试吧......"
    UPLOADING: "&7加载中... 请稍候......"
    FAILED_GET_IMAGE: "获取文件失败！ 可恶！！！"
    OK: "喷图图案保存成功！\n"

  COMMAND_VIEW:
    NO_PLAYER: "查无此人啦..."
    PLAYER_NO_IMAGE: " 还没有上传图片呢！"
    WARN: "&7注意: 这是个假物品"

  COMMAND_COPY:
    HELP: "\n | /&7sprays copy&r&l <Player> &r&7- 复制某个玩家的喷漆\n | /&7sprays copy&r&l x &r&7- 禁止他人复制你的图片\n | /&7sprays copy&r&l o &r&7- 允许他人复制你的图片"
    NO_PLAYER: "查无此人啦..."
    COPY_SELF: "&7...你是不是很无聊啊"
    NOT_ALLOW: " 不允许复制图片！"
    PLAYER_NO_IMAGE: " 还没有上传图片呢！"
    OK: "喷图图案复制成功！嘿嘿~\n"


# 如果你想翻译，请到 [mcbbs:笑天犬 | spigot:LSDog | QQ:2509863159 | email:2509863159@qq.com] 向我投稿！
# If you want to translate, find me in [mcbbs:笑天犬 | spigot:LSDog | QQ:2509863159 | email:2509863159@qq.com] ！

#####################
#  ENGLISH VERSION  #
#  Translator: 小关  #
#####################

#Messages:
#  # |所有信息支持 PlaceholderAPI
#  # |All messages support PlaceholderAPI
#
#  UNKNOWN_COMMAND: "Unkown command,please use &3/sprays&r to find helps!"
#  NO_PERMISSION: "&cNo permission!"
#  IN_COOLING: "&cCooling!"
#
#  SPRAY:
#    TOO_MANY_ARGUMENTS: "This command is for spraying. Please use the &b/sprays&r !"
#    NO_IMAGE: "Sorry! You haven't uploaded the image yet."
#    NO_IMAGE_TIP: "Please use &b/sprays&r &3upload&l <url>&r to upload your image!"
#    DISABLED_WORLD: "&7Sorry! This world has been disabled!"
#    DISABLED_REGION: "&7Sorry! This region has been disabled!"
#    NO_MONEY: "Hey！You don't have enough money! It costs %cost%$ !"
#    COST: "- %cost%$ &7(spray)"
#
#  COMMAND_HELP:
#    UPLOAD: "Upload image link (Size:&cBetter be 384*384px&r)"
#    COPY: "Copy the image from a player"
#    VIEW: "View player's custom spray."
#    CHECK: "Check the sprayer."
#    DELETE: "Delete the spray you point at."
#    RELOAD: "Reload the plugin."
#    GETITEM: "Get a spray item."
#    TIP: "\n&7TIP: &7&l\"Image Hosting Website and Online Pictures Modifying are useful~\"\n  &7&lUse &e&l/spray &b&l(big)&7 or Double click 'F' &b&l(in snaking) in &e&l1.9+ &7to &e&lspray &b&l(big)&7!"
#
#  COMMAND_UPLOAD:
#    IN_BUSY: "Server in busy, please upload later!"
#    NO_URL: "Hey! You forgot to write the image url!"
#    NOT_URL: "Sorry! The url is invalid!"
#    CONNECT_FAILED: "oops, an error occurred while linking the image!"
#    CONNECT_HTTPS_FAILED: "If your are using the URL that starts with &e&l https&r ,please try &e&l http&r!"
#    FILE_TOO_BIG: "The size of image is too big! Its {size}K! &7(Up to &f&l{limit}k&r&7 can be uploaded!)"
#    CANT_GET_SIZE: "We couldn't get the size of the image!\n          Please change the URL that ending in &7(.png/.jpg/.jpeg)&r......"
#    UPLOADING: "&7Loading... Please wait for a while..."
#    FAILED_GET_IMAGE: "Oops! An error occurred while downloading the image!"
#    OK: "Success! The image has been saved! \n"
#
#  COMMAND_VIEW:
#    NO_PLAYER: "No player found..."
#    PLAYER_NO_IMAGE: "baka! You haven't uploaded the image yet!"
#    WARN: "&7Warning: This is a fake item."
#
#  COMMAND_COPY:
#    HELP: "\n | /&7sprays copy&r&l <Player> &r&7-&r Copy some one's image\n | /&7sprays copy&r&l x &r&7-&r deny others copying your image\n | /&7sprays copy&r&l o &r&7-&r allow others copying your image"
#    NO_PLAYER: "No player found..."
#    COPY_SELF: "&7... do you really know that you are making a big trouble?"
#    NOT_ALLOW: " doesn't allow copying the image!"
#    PLAYER_NO_IMAGE: " haven't uploaded the image yet!"
#    OK: "Image has been copied! ho~ ho~\n"



# |Checking compatibility, take care of this (✿◕‿◕✿)
# |检测配置兼容性，别乱改喔 （づ￣3￣）づ
configVersion: 1.7